<div class="row" style="margin-bottom: 5px;">
  <div class="col-xs-12">
    <a class="list-group-item clearfix" style="border: solid 1.5px rgb(201, 201, 201)">
      <div class="pull-left" >
        
        <h4 class="list-group-item-heading">{{todo.name}}</h4>
          <h4 class="list-group-item-text">To do before: {{todo.date}}</h4>
      </div>
      <span class="pull-right">
        <button class="btn btn-primary" style="margin-right: 5px;" type="submit"
        (click)="onEdit()"
        >Edit</button>
        <button class="btn btn-danger" style="margin-right: 5px;" type="button"
        (click)="onMoveToArchive()">Move to Archive</button>
      </span>
    </a>
  </div>
</div>