<div style="margin-left: 1px;">
  <a class="list-group-item clearfix" style="width: 400px;">
  <div class="form-group" >
    <label for="name">Edit Name</label>
    <input
      name="firstName"
      ngModel maxlength="40"
      id="name"
      class="form-control"
      style="width: 300px;
            height: 50px;"
      [(ngModel)]="todoName">
  </div>
  <div class="form-group">
    <label for="status">Edit Date</label>
    <input type="date" id="date" class="form-control" #todoDateInput 
    style="width: 200px;
          height: 50px;"
    [(ngModel)]="todoDate">
  </div>
  <button
    class="btn btn-success"
    style="margin-right: 10px;"
    (click)="onUpdateButton()"
   >Update</button>
  <button
  class="btn btn-primary"
  (click)="onCancelButton()"
  >Cancel</button>  
  </a>
  <div class="message-container" *ngIf="isEmpty">
    <span class="message">Name can't be empty!</span>
  </div>
</div>
