.list-group-item{
  transition: transform 0.3s;
}
.list-group-item:hover {
  transform: translateY(-2px);
}
.btn {
  transition: transform 0.3s;
}
.btn:hover {
  transform: translateX(2px);

}
.row{
  width: 700px;
  margin-bottom: 10px;
}
@media (max-width: 765px) {
  .row{
    width: 70%;
    height: 200%;
    margin-left: 85px;
  }
}